<meta charset="UTF-8">

<style>
style {
    display: none !important;
}
._customer-category_db {
    max-width: 627px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    font: normal 16px/1.4 Roboto, Arial, sans-serif !important;
    box-sizing: border-box;
    margin: 30px auto;
}
._customer-category_db__cnt {
    display: block !important;
    margin: 0 !important;
    color: #333333;
    margin-bottom: 30px;
}
._customer-category_db__cnt span {
    font-weight: 700;
}
._customer-category_db__btn {
    display: inline-flex !important;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    background: #FFC465;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 12px 10px 13px;
    text-decoration: none !important;
    min-width: 300px;
    margin-left: 40px;
}
._customer-category_db__btn:hover {
    opacity: 0.85;
}
._customer-category_db__btn-img {
    margin-right: 20px;
}
._customer-category_db__btn-cnt {
    font-size: 16px !important;
    color: #028DD8;
    font-weight: 700;
}

</style>

<div class="_customer-category_db">
    <p class="_customer-category_db__cnt">Скачать прайс-лист</p>
    <a class="_customer-category_db__btn" target="_blank"
       href="https://st47.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/022/305/HoReCa.xlsx?1553017943">
        <img class="_customer-category_db__btn-img" src="img/block_download/download.png" />
        <span class="_customer-category_db__btn-cnt">HoReCa.xlsx</span>
    </a>
</div>

<div class="_customer-category_db">
    <p class="_customer-category_db__cnt">Скачать прайс-лист</p>
    <a class="_customer-category_db__btn" target="_blank"
       href="https://st47.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/022/310/Холодильное_оборудование.xlsx?1553017943">
        <img class="_customer-category_db__btn-img" src="img/block_download/download.png" />
        <span class="_customer-category_db__btn-cnt">Холодильное_оборудование.xlsx</span>
    </a>
</div>

<div class="_customer-category_db">
    <p class="_customer-category_db__cnt">Скачать прайс-лист</p>
    <a class="_customer-category_db__btn" target="_blank"
       href="https://st47.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/022/309/Пищевое_оборудование.xlsx?1553017943">
        <img class="_customer-category_db__btn-img" src="img/block_download/download.png" />
        <span class="_customer-category_db__btn-cnt">Пищевое_оборудование.xlsx</span>
    </a>
</div>

<div class="_customer-category_db">
    <p class="_customer-category_db__cnt">Скачать прайс-лист</p>
    <a class="_customer-category_db__btn" target="_blank"
       href="https://st47.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/022/308/Оборудование_для_производства_продуктов_питания.xlsx?1553017943">
        <img class="_customer-category_db__btn-img" src="img/block_download/download.png" />
        <span class="_customer-category_db__btn-cnt">Оборудование.xlsx</span>
    </a>
</div>

<div class="_customer-category_db">
    <p class="_customer-category_db__cnt">Скачать прайс-лист</p>
    <a class="_customer-category_db__btn" target="_blank"
       href="https://st47.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/022/307/Оборудование_для_магазинов.xlsx?1553017943">
        <img class="_customer-category_db__btn-img" src="img/block_download/download.png" />
        <span class="_customer-category_db__btn-cnt">Оборудование_для_магазинов.xlsx</span>
    </a>
</div>

<div class="_customer-category_db">
    <p class="_customer-category_db__cnt">Скачать прайс-лист</p>
    <a class="_customer-category_db__btn" target="_blank"
       href="https://st47.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/022/306/Нейтральное_оборудование.xlsx?1553017943">
        <img class="_customer-category_db__btn-img" src="img/block_download/download.png" />
        <span class="_customer-category_db__btn-cnt">Нейтральное_оборудование.xlsx</span>
    </a>
</div>