<meta charset="UTF-8">
<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');
    style {
        display: none !important;
    }
    ._customer_cat__wrap {
        max-width: 627px;
        font-family: Roboto, sans-serif;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.4;
        color: #000000;
        margin: 10px 0 15px !important;
    }
    ._customer_cat__ttl {
        font-size: 18px;
        line-height: 25px;
        font-weight: 700;
        text-transform: uppercase;
        color: #333333;
        margin-bottom: 20px;
    }
    ._customer_cat__content {
        display: flex !important;
        flex-wrap: wrap;
        padding-left: 30px;
        justify-content: space-between;
    }
    ._customer_cat__item {
        display: flex !important;
        margin-bottom: 20px;
        width: 45%;
    }
    ._customer_cat__img {
        min-width: 54px;
        height: 46px;
        text-align: center;
        display: block !important;
    }
    ._customer_cat__item img {
        text-align: center;
        width: auto !important;
    }
    ._customer_cat__img-1 {
        width: 47px !important;
        height: 46px !important;
    }
    ._customer_cat__img-2 {
        width: 54px !important;
        height: 46px !important;
    }
    ._customer_cat__img-3 {
        width: 47px !important;
        height: 46px !important;
    }
    ._customer_cat__img-4 {
        width: 46px !important;
        height: 46px !important;
    }
    ._customer_cat__img-5 {
        width: 47px !important;
        height: 46px !important;
    }
    ._customer_cat__img-6 {
        width: 39px !important;
        height: 46px !important;
    }
    ._customer_cat__img-7 {
        width: 48px !important;
        height: 46px !important;
    }
    ._customer_cat__img-8 {
        width: 46px !important;
        height: 46px !important;
    }
    ._customer_cat__item-txt {
        display: grid !important;
        align-content: center;
        margin-left: 10px;
    }
    ._customer_cat__link {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
    }
    ._customer_cat__link a {
        color: #1A3492 !important;
    }
    ._customer_cat__link a:hover {
        text-decoration: none;
    }
</style>
<div class="_customer_cat__wrap">
    <div class="_customer_cat__ttl">Расширение, обновление или срочная замена оборудования?</div>
    <div class="_customer_cat__content">
        <div class="_customer_cat__item">
            <div class="_customer_cat__img">
                <img src="img/block_category/001-product.png" class="_customer_cat__img-1">
            </div>
            <div class="_customer_cat__item-txt">
                <span>Ассортимент от 7000 позиций</span>
            </div>
        </div>
        <div class="_customer_cat__item">
            <div class="_customer_cat__img">
                <img src="img/block_category/005-question.png" class="_customer_cat__img-5">
            </div>
            <div class="_customer_cat__item-txt">
                <span>Подбор оборудования под ваши задачи</span>
            </div>
        </div>
        <div class="_customer_cat__item">
            <div class="_customer_cat__img">
                <img src="img/block_category/002-free-delivery.png" class="_customer_cat__img-2">
            </div>
            <div class="_customer_cat__item-txt">
                <span>Бесплатная доставка при заказе от 30 000 руб.</span>
            </div>
        </div>
        <div class="_customer_cat__item">
            <div class="_customer_cat__img">
                <img src="img/block_category/006-bill.png" class="_customer_cat__img-6">
            </div>
            <div class="_customer_cat__item-txt">
                <span>Работа по счетам конкурентов</span>
            </div>
        </div>
        <div class="_customer_cat__item">
            <div class="_customer_cat__img">
                <img src="img/block_category/003-ru.png" class="_customer_cat__img-3">
            </div>
            <div class="_customer_cat__item-txt">
                <span>Цена за доставку по России может быть уменьшена</span>
            </div>
        </div>
        <div class="_customer_cat__item">
            <div class="_customer_cat__img">
                <img src="img/block_category/007-computer-graphic.png" class="_customer_cat__img-7">
            </div>
            <div class="_customer_cat__item-txt">
                <span>План расстановки по нормам и вашим требованиям</span>
            </div>
        </div>
        <div class="_customer_cat__item">
            <div class="_customer_cat__img">
                <img src="img/block_category/004-100.png" class="_customer_cat__img-4">
            </div>
            <div class="_customer_cat__item-txt">
                <span>Комплектация по вашему списку</span>
            </div>
        </div>
        <div class="_customer_cat__item">
            <div class="_customer_cat__img">
                <img src="img/block_category/008-construction.png" class="_customer_cat__img-8">
            </div>
            <div class="_customer_cat__item-txt">
                <span>Обслуживание в одной организации</span>
            </div>
        </div>
    </div>
    <div class="_customer_cat__link">
        Выберите ближайший <a href="/pages/12011-regionalnye-sklady">город</a> и позвоните нам!
    </div>
</div>